{% extends 'base.html.twig' %}

{% block title %}Conference index{% endblock %}

{% block body %}
    <h1>Conference index</h1>

    <a href="{{ path('conference_new') }}" class="btn-group-lg"> <button>Create new </button></a>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Description</th>
                <th>Event date</th>
                <th>City</th>
                <th>Address</th>
                <th>Average</th>
                <th>Number rates</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for conference in conferences  %}
            <tr>
                <td width="15%"><img src="../images/{{ conference.0.conferenceId.img }}" width="100%"></td>
                <td>{{ conference.0.conferenceId.title }}</td>
                <td>{{ conference.0.conferenceId.description }}</td>
                <td>{{ conference.0.conferenceId.eventDate ? conference.0.conferenceId.eventDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ conference.0.conferenceId.city }}</td>
                <td>{{ conference.0.conferenceId.address }}</td>
                <td>{{ (conference.2 / conference.1)|number_format(1) }} / 5</td>
                <td>{{ conference.1 }} rates</td>
                <td>
                    <a href="{{ path('conference_show', {'id': conference.0.conferenceId.id}) }}"><button>show</button></a>
                    <a href="{{ path('conference_edit', {'id': conference.0.conferenceId.id}) }}"><button>edit </button></a>
                </td>

            </tr>
        {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
