{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User {{ user.firstname }}</h1>
    {% if average  %}
    {% for av in average %}
        {% if av.2 is not null %}
          <h3> Voted {{ av.1 }} times for an average of {{ (av.2 / av.1)|number_format(1) }} / 5</h3>
        {% endif %}
    {% endfor %}
    {% endif %}



    <a href="{{ path('user_index') }}"><button>back to list</button></a>

    <table class="table">
        <tbody>
            <tr>
                <th>Mail</th>
                <td>{{ user.mail }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_edit', {'id': user.id}) }}"><button>edit</button></a>

    {{ include('user/_delete_form.html.twig') }}

    <h2>Rating History</h2>


    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Rate</th>
        </tr>
        </thead>
        <tbody>
        {% for conference in conferences %}
            <tr>
                <td width="20%"><img src="../../images/{{ conference.conferenceId.img }}" width="100%"></td>
                <td>{{ conference.conferenceId.title }}</td>
                <td>{{ conference.rate }} / 5</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
